<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StockMapper">
    <select id="selectStockById" resultType="com.example.demo.model.Stock">
        select * from stock where id = #{id, jdbcType=Integer}
    </select>

    <update id="updateStock" parameterType="com.example.demo.model.Stock">
        update stock set amount = #{amount, jdbcType=java.math.BigDecimal},
        update_at = #{updateAt, jdbcType=java.util.Date} where id = #{id, jdbcType=Integer}
    </update>
</mapper>
